/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    border: none; 
    outline: none;
  }


body {
  --color: rgba(30, 30, 30);
  --bgColor: rgb(240, 240, 240);
  color: var(--color);
}


/* */
footer{
    font-weight: 700;
    /*background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgb(0, 78, 78) 91.1% );*/
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjYxNy1iYi0xMS10ZWNobm9sb2d5XzEuanBn.jpg?s=H8cjANnXKNH7dfF79jozxKwRq7q9fcRrpAs5V3Bh7Eo');
    background-size: cover;
}
.nav-wrapper{
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjYxNy1iYi0xMS10ZWNobm9sb2d5XzEuanBn.jpg?s=H8cjANnXKNH7dfF79jozxKwRq7q9fcRrpAs5V3Bh7Eo');
    background-size: cover;
}

sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgb(254, 254, 255);
  z-index: 997;
  will-change: opacity;
}

/*projetos*/
.titulo h1{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 55px;
  font-size: 3rem;
  padding: 15px;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 15px;
  background-image: linear-gradient(to top, #bebcbda6 0%, white 100%);
}

.work {
  width: min(60rem, 90%);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  counter-reset: stepnr;
}

.a:nth-child(6n + 1) {
  --accent-color: #03a78c96;
}
.a:nth-child(6n + 2) {
  --accent-color: #4cbccbce;
}
.a:nth-child(6n + 3) {
  --accent-color: #7197d3d0;
}
.a:nth-child(6n + 4) {
  --accent-color: #cb78c7ce;
}

.work li {
  /* outline: 1px solid hotpink; */
  counter-increment: stepnr;
  --borderS: 2rem;
  width: 25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-rows: min-content min-content auto;
  position: relative;
  padding-left: 2.5rem;
}
.work li::before,
.work li::after {
  position: absolute;
  border-radius: inherit;
  border: inherit;
  width: calc(100% + var(--borderS) * 2);
  height: calc(100% + var(--borderS) * 2);
  left: calc(var(--borderS) * -1);
  top: calc(var(--borderS) * -1);
  line-height: 1.1;
}
.work li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 15rem;
  font-weight: 700;
  overflow: hidden;
}

.work li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}
.work li > * {
  width: 7.5rem;
}
.work li .icon {
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}
.work li .title {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(247, 35, 123);
}
.work li .descr {
  font-weight: 300;
  font-size: 0.9rem;
  color: rgb(52, 53, 53);
}
/* PROJETOS */
ul.product-plans {
  width: min(60rem, 90%);
  margin-inline: auto;
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.product-plan{
  background-image: linear-gradient( 109.6deg,  rgba(1, 47, 41, 0.788) 11.2%, rgba(67, 187, 187, 0.589) 91.1% );
  background-size: cover;
  margin-top: 25px;
  margin-bottom: 15px;
}
ul.product-plans li.product-plan:nth-child(1) { --accent-color: #1a9b8b }
ul.product-plans li.product-plan:nth-child(2) { --accent-color: #1a9b8b }
ul.product-plans li.product-plan:nth-child(3) { --accent-color: #1a9b8b }
ul.product-plans li.product-plan:nth-child(4) { --accent-color: #1a9b8b }
ul.product-plans li.product-plan:nth-child(5) { --accent-color: #1a9b8b}

ul.product-plans li.product-plan {
  --overlap-size: 1.5rem;
  --border-radius: 5rem;
  width: min(15rem, 100%);
  margin-inline: var(--overlap-size);
  padding-block: 2rem;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  gap: 0.5rem;
  border-radius: var(--border-radius) 0 var(--border-radius) 0;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

ul.product-plans li.product-plan .title {
  font-size: 1.5rem;
  color: var(--accent-color);
  text-align: center;
}

ul.product-plans li.product-plan .price {
  margin-right: calc(var(--overlap-size) * -1);
  justify-self: end;
  padding-block: 0.25rem;
  padding-inline: var(--overlap-size);
  background-color: var(--accent-color);
  color: rgb(228, 227, 227);
  position: relative;
}
ul.product-plans li.product-plan .price::after {
  content: "";
  position: absolute;
  height: var(--overlap-size);
  width: var(--overlap-size);
  right: 0;
  top: 100%;
  background-color: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

ul.product-plans li.product-plan .btn {
  justify-self: start;
  margin-left: calc(var(--overlap-size) * -1);
  padding-block: 0.5rem;
  padding-inline: 2.5rem;

  border: none;
  font-family: inherit;
  color: rgb(228, 227, 227);
  font-size: 1.1rem;

  background-color: var(--accent-color);
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 0);
  background-size: 100% 200%;
  transition: background-position 100ms ease;

  position: relative;
  cursor: pointer;
}
ul.product-plans li.product-plan .btn:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--accent-color);
  background-position: 0 100%;
}

ul.product-plans li.product-plan .btn:hover {
  background-position: 0 100%;
}

ul.product-plans li.product-plan .btn::after {
  content: "";
  position: absolute;
  height: var(--overlap-size);
  width: var(--overlap-size);
  left: 0;
  bottom: 100%;
  background-color: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

ul.product-plans li.product-plan .btn:active {
  transform: scale(0.95);
}
ul.product-plans li.product-plan .btn:active::after {
  transform-origin: left bottom;
  transform: scale(0.9);
}

ul.product-plans li.product-plan .features {
  align-self: flex-start;
  list-style: none;
  padding-inline: 2rem;
  display: grid;
}

ul.product-plans li.product-plan .features li:not(:first-child) {
  border-top: 1px solid rgb(200, 200, 200);
}
ul.product-plans li.product-plan .features li {
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1rem 1fr;
}

ul.product-plans li.product-plan .features li::before {
  font-weight: 900;
  display: grid;
  place-items: center;
}
ul.product-plans li.product-plan .features li.check::before {
  content: "\2713";
  color: green;
}
ul.product-plans li.product-plan .features li.cross::before {
  content: "\d7";
  color: red;
}









